# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"

# Metadata
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_OG_IMAGE_URL="https://utfs.io/f/9bad171b-6dc0-4bc3-9972-585806e31c66-k3an9c.jpg"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Next Auth Github Provider
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Uploadthing
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""